In [1]:
import pandas as pd
import numpy as np

In [7]:
nomes = ['bioma.csv','estados.csv' ,\
'queimadas.csv', 'data.csv',  'florestas_plantadas.csv', 'terra_indigena.csv', \
'desmatamento.csv', 'estado_bioma.csv' ]
chaves = [['Bioma'], ['UF'], ['ID_data', 'UF'], ['ID_data'],['ID_data', 'UF'],['TERRA_INDIGENA'],  ['ID_data', 'Bioma', 'UF'], ['Bioma', 'UF'] ]

In [6]:
nomes_virugla = ['terra_indigena.csv','florestas_plantadas.csv','estado_bioma.csv' ,'bioma.csv']
nomes_ponto_virgula = ['queimadas.csv','estados.csv', 'desmatamento.csv','data.csv']

In [23]:
zip(*[df[col] for col in df])

[('Caatinga', 1117400, 5359300),
 ('Cerrado', 6489700, 17735500),
 ('Mata Atlântica', 2871100, 8671900),
 ('Pampa', 85400, 440300),
 ('Pantanal', 440300, 2222),
 ('Amazônia Legal', 43019000, 76658900)]

In [29]:
for i in range(len(nomes)):
    source = 'DataSets/' + nomes[i]
    if nomes[i] in nomes_virugla:       
        try:
            df = pd.read_csv(source , sep = ',')
        except:
            df = pd.read_csv(source , sep = ',', encoding = 'latin-1')            
    elif nomes[i] in nomes_ponto_virgula:
        try:
            df = pd.read_csv(source , sep = ';')
        except:
            df = pd.read_csv(source , sep = ';', encoding = 'latin-1')
    
    df.drop_duplicates(subset = chaves[i],inplace = True , keep = 'first')
    
    #escrevendo csv concertado
    diret = 'upar/' + nomes[i]
    file = open(diret , 'w')
    
    #escrevendo cabecalho
    
    colunas = df.columns.tolist()
    print(colunas)
    cabecalho = ''
    for j in range(len(colunas)):
        if j == len(colunas) - 1:
            cabecalho += str(colunas[j]) + '\n'
        else:
            cabecalho += str(colunas[j]) + ';'
    file.write(cabecalho)
    
        
    for row in zip(*[df[col] for col in df]):
        linha = ''
        for j in range(len(row)):
            if j == len(row)-1:
                 linha += str(row[j]) +'\n'
            else:
                linha += str(row[j]) +';'        
        file.write(linha)
        
    file.close()

['Bioma', 'Area_proteção_integral', 'Area_uso_sustentavel']
['UF', 'Estado', 'Regiao', 'Número_habitantes']
['ID_data', 'UF', 'Qnt_focos']
['ID_data', 'Ano', 'Mês']
['ID_data', 'UF', 'Especie', 'Area']
['TERRA_INDIGENA', 'ETNIA', 'UF', 'MODALIDADE', 'AREA']
['ID_data', 'UF', 'Bioma', 'Area_desmatada_hec']
['Bioma', 'UF']

In [37]:
#isso aqui é eu testando

In [35]:
a = pd.DataFrame({'anos': [1,2,2,4] , 'id': [5,6,6,8]})
a

   anos  id
0     1   5
1     2   6
2     2   6
3     4   8

In [36]:
a.drop_duplicates(subset = ['anos', 'id'], keep = 'first')

   anos  id
0     1   5
1     2   6
3     4   8