In [1]:
import io
import pandas as pd
import sqlite3

In [23]:
f_e = open('tenta/estados.csv', 'w')

In [24]:
estados = ['Acre','Alagoas','Amapá','Amazonas', 'Bahia', 'Ceará', 'Distrito Federal', 'Espírito Santo', 'Goiás', 'Maranhão',\
           'Mato Grosso', 'Mato Grosso do Sul', 'Minas Gerais', 'Pará', 'Paraíba', 'Paraná', 'Pernambuco', 'Piauí', 'Rio de Janeiro',\
          'Rio Grande do Norte', 'Rio Grande do Sul', 'Rondônia', 'Roraima', 'Santa Catarina', 'São Paulo', 'Sergipe','Tocantins']
centro_oeste = ['Goiás', 'Mato Grosso' , 'Mato Grosso do Sul', 'Distrito Federal']
nordeste = ['Alagoas', 'Bahia', 'Ceará', 'Maranhão', 'Paraíba', 'Pernambuco', 'Piauí', 'Rio Grande do Norte' , 'Sergipe']
norte = ['Acre', 'Amapá', 'Amazonas', 'Pará', 'Rondônia', 'Roraima' , 'Tocantins']
sudeste = ['Espírito Santo', 'Minas Gerais', 'Rio de Janeiro' , 'São Paulo']
sul = ['Paraná', 'Rio Grande do Sul', 'Santa Catarina']

In [25]:
f_e.write('Estado;Regiao\n')
for estado in estados:
    if estado in centro_oeste:
        f_e.write(estado +';'+ 'Centro-Oeste' +'\n')
    elif estado in nordeste:        
        f_e.write(estado +';'+ 'Nordeste' +'\n')        
    elif estado in norte:        
        f_e.write(estado +';'+ 'Norte' +'\n')
    elif estado in sudeste:        
        f_e.write(estado +';'+ 'Sudeste' +'\n')
    elif estado in sul:        
        f_e.write(estado +';'+ 'Sul' +'\n')
    else:
        print('erro, estado' +  estado + ' não ta em nenhuma regiao')

In [26]:
f_e.close()

In [14]:
f_d = open('tenta/data.csv', 'w')

In [15]:
ano = []
for i in range(1994,2019,1):
    ano.append(i)
    
mes = ['Janeiro', 'Fevereiro', 'Março', 'Abril', 'Maio', 'Junho', 'Julho', 'Agosto',\
       'Setembro', 'Outubro', 'Novembro', 'Dezembro', 'Inexistente']
id_ = 0

In [16]:
f_d.write('ID_data;Ano;Mês\n')
for i in ano:
    for j in mes:
        f_d.write(str(id_)+ ';' + str(i) + ';' + j + '\n')
        id_ += 1

In [17]:
f_d.close()

In [27]:
f_b = open('tenta/bioma.csv', 'w')

In [30]:
df = pd.read_csv('dados/desmatamento_bioma.csv', sep = ';')

In [38]:
biomas = df['Bioma'].unique().tolist()
biomas.append('Amazônia Legal')

In [40]:
f_b.write('ID_Bioma;Bioma\n')
for i in range(len(biomas)):
    f_b.write(str(i) + ';' + biomas[i] + '\n')

In [41]:
f_b.close()

In [72]:
df = pd.read_csv('tenta/extracao_pfm_1994-2016.csv', sep =';', encoding = 'latin-1')

In [62]:
df.head(3)

,Tipo de produto florestal,Tipo de Floresta,Tipo de Uso,Tipo de produto extrativo (com código),Tipo de produto extrativo,Unidade de Medida PEVS,Unidade de Medida transformada,Ano_PEVS,Quantidade PEVS,Quantidade transformada,Valor (mil reais)
0,PFNM,Floresta Natural,Alimentícios,1.1 - Açaí (fruto) (Toneladas),Açaí (fruto),Toneladas,Toneladas,1994,98857.0,98857.0,46312.0
1,PFNM,Floresta Natural,Alimentícios,1.1 - Açaí (fruto) (Toneladas),Açaí (fruto),Toneladas,Toneladas,1995,108922.0,108922.0,35075.0
2,PFNM,Floresta Natural,Alimentícios,1.1 - Açaí (fruto) (Toneladas),Açaí (fruto),Toneladas,Toneladas,1996,111438.0,111438.0,51801.0

In [92]:
aux = pd.DataFrame(df[['Tipo de produto extrativo','Tipo de Uso']])
aux.head(3)

  Tipo de produto extrativo   Tipo de Uso
0              Açaí (fruto)  Alimentícios
1              Açaí (fruto)  Alimentícios
2              Açaí (fruto)  Alimentícios

In [103]:
temp = []
for i, row in aux.iterrows():
    if (row['Tipo de produto extrativo'], row['Tipo de Uso']) not in temp:
        temp.append((row['Tipo de produto extrativo'], row['Tipo de Uso']))

In [111]:
temp[0:3]

[('Açaí (fruto)', 'Alimentícios'),
 ('Castanha de cajú', 'Alimentícios'),
 ('Castanha-do-Pará', 'Alimentícios')]

In [114]:
f_p = open('tenta/produtos.csv','w')

In [115]:
f_p.write('Tipo de produto extrativo;Tipo de Uso\n')
for item in temp:
    f_p.write(item[0] + ';' + item[1] +'\n')

In [116]:
f_p.close()