In [1]:
import io
import pandas as pd
import numpy as np
import sqlite3

# CSV Estado

In [2]:
f_e = open('tenta/estados.csv', 'w')

In [3]:
estados = ['Acre','Alagoas','Amapá','Amazonas', 'Bahia', 'Ceará', 'Distrito Federal', 'Espírito Santo', 'Goiás', 'Maranhão',\
           'Mato Grosso', 'Mato Grosso do Sul', 'Minas Gerais', 'Pará', 'Paraíba', 'Paraná', 'Pernambuco', 'Piauí', 'Rio de Janeiro',\
          'Rio Grande do Norte', 'Rio Grande do Sul', 'Rondônia', 'Roraima', 'Santa Catarina', 'São Paulo', 'Sergipe','Tocantins']
centro_oeste = ['Goiás', 'Mato Grosso' , 'Mato Grosso do Sul', 'Distrito Federal']
nordeste = ['Alagoas', 'Bahia', 'Ceará', 'Maranhão', 'Paraíba', 'Pernambuco', 'Piauí', 'Rio Grande do Norte' , 'Sergipe']
norte = ['Acre', 'Amapá', 'Amazonas', 'Pará', 'Rondônia', 'Roraima' , 'Tocantins']
sudeste = ['Espírito Santo', 'Minas Gerais', 'Rio de Janeiro' , 'São Paulo']
sul = ['Paraná', 'Rio Grande do Sul', 'Santa Catarina']

In [4]:
f_e.write('Estado;Regiao\n')
for estado in estados:
    if estado in centro_oeste:
        f_e.write(estado +';'+ 'Centro-Oeste' +'\n')
    elif estado in nordeste:        
        f_e.write(estado +';'+ 'Nordeste' +'\n')        
    elif estado in norte:        
        f_e.write(estado +';'+ 'Norte' +'\n')
    elif estado in sudeste:        
        f_e.write(estado +';'+ 'Sudeste' +'\n')
    elif estado in sul:        
        f_e.write(estado +';'+ 'Sul' +'\n')
    else:
        print('erro, estado' +  estado + ' não ta em nenhuma regiao')

In [5]:
f_e.close()

# CSV Data

In [3]:
f_d = open('tenta/data.csv', 'w')

In [4]:
ano = []
for i in range(1994,2019,1):
    ano.append(i)
    
mes = ['Janeiro', 'Fevereiro', 'Março', 'Abril', 'Maio', 'Junho', 'Julho', 'Agosto',\
       'Setembro', 'Outubro', 'Novembro', 'Dezembro', 'Inexistente']
id_ = 0

In [5]:
f_d.write('ID_data;Ano;Mês\n')
for i in ano:
    for j in mes:
        f_d.write(str(id_)+ ';' + str(i) + ';' + j + '\n')
        id_ += 1

In [6]:
f_d.close()

# CSV Bioma

In [10]:
df = pd.read_csv('dados/desmatamento_bioma.csv', sep = ';')

In [11]:
f_b = open('tenta/bioma.csv', 'w')

In [12]:
biomas = df['Bioma'].unique().tolist()
biomas.append('Amazônia Legal')

In [13]:
f_b.write('ID_Bioma;Bioma\n')
for i in range(len(biomas)):
    f_b.write(str(i) + ';' + biomas[i] + '\n')

In [14]:
f_b.close()

# CSV Produtos

In [15]:
df = pd.read_csv('tenta/extracao_pfm_1994-2016.csv', sep =';', encoding = 'latin-1')

In [16]:
aux = pd.DataFrame(df[['Tipo de produto extrativo','Tipo de Uso']])
aux.head(3)

  Tipo de produto extrativo   Tipo de Uso
0              Açaí (fruto)  Alimentícios
1              Açaí (fruto)  Alimentícios
2              Açaí (fruto)  Alimentícios

In [17]:
temp = []
for i, row in aux.iterrows():
    if (row['Tipo de produto extrativo'], row['Tipo de Uso']) not in temp:
        temp.append((row['Tipo de produto extrativo'], row['Tipo de Uso']))

In [18]:
temp[0:3]

[('Açaí (fruto)', 'Alimentícios'),
 ('Castanha de cajú', 'Alimentícios'),
 ('Castanha-do-Pará', 'Alimentícios')]

In [19]:
f_p = open('tenta/produtos.csv','w')

In [20]:
f_p.write('Tipo de produto extrativo;Tipo de Uso\n')
for item in temp:
    f_p.write(item[0] + ';' + item[1] +'\n')

In [21]:
f_p.close()

# Juntando CSVs sobre desmatamento

In [23]:
df1 = pd.read_csv('dados/desmatamento.csv', sep = ';')

In [25]:
df1.head(3)

,Ano,Bioma,Categoria,Estado,Numero_de_registros,Periodo,Area_desmatada_hec
0,2012,Amazônia Legal,Desflorestamento,Acre,1,2012,"2074194,28"
1,2012,Amazônia Legal,Desflorestamento,Amapá,1,2012,"300224,71"
2,2012,Amazônia Legal,Desflorestamento,Amazonas,1,2012,"3509103,62"

In [27]:
df2 = pd.read_csv('dados/desmatamento_bioma.csv', sep = ';')

In [28]:
df2.head(3)

      Bioma   Estado  Numero_de_registros  Periodo  Area_desmatada_hec
0  Caatinga  Alagoas                    1     2009         2877.130951
1  Caatinga    Bahia                    1     2009        61872.169510
2  Caatinga    Ceará                    1     2009        59130.915610

In [36]:
df1 = df1.drop(['Periodo', 'Categoria', 'Numero_de_registros'], axis = 1)

In [38]:
df1.head(3)

    Ano           Bioma    Estado Area_desmatada_hec
0  2012  Amazônia Legal      Acre         2074194,28
1  2012  Amazônia Legal     Amapá          300224,71
2  2012  Amazônia Legal  Amazonas         3509103,62

In [43]:
df2 = df2.rename({'Periodo' : 'Ano'}, axis = 'columns')
df2 = df2.drop('Numero_de_registros', axis = 1)

In [45]:
df2.head(3)

      Bioma   Estado   Ano  Area_desmatada_hec
0  Caatinga  Alagoas  2009         2877.130951
1  Caatinga    Bahia  2009        61872.169510
2  Caatinga    Ceará  2009        59130.915610

In [46]:
df2= df2[['Ano', 'Bioma', 'Estado', 'Area_desmatada_hec']]

In [47]:
df2.head(3)

    Ano     Bioma   Estado  Area_desmatada_hec
0  2009  Caatinga  Alagoas         2877.130951
1  2009  Caatinga    Bahia        61872.169510
2  2009  Caatinga    Ceará        59130.915610

In [51]:
df1 = df1.append(df2, ignore_index = True)

In [53]:
df1.head(3)

    Ano           Bioma    Estado Area_desmatada_hec
0  2012  Amazônia Legal      Acre         2074194,28
1  2012  Amazônia Legal     Amapá          300224,71
2  2012  Amazônia Legal  Amazonas         3509103,62

In [54]:
df1.tail(3)

      Ano     Bioma              Estado Area_desmatada_hec
98   2009     Pampa   Rio Grande do Sul            4593.25
99   2009  Pantanal         Mato Grosso            8921.56
100  2009  Pantanal  Mato Grosso do Sul            9925.75

In [3]:
data = pd.read_csv('tenta/data.csv', sep = ';')

In [4]:
data.head(13)

    ID_data   Ano          Mês
0         0  1994      Janeiro
1         1  1994    Fevereiro
2         2  1994        Março
3         3  1994        Abril
4         4  1994         Maio
5         5  1994        Junho
6         6  1994        Julho
7         7  1994       Agosto
8         8  1994     Setembro
9         9  1994      Outubro
10       10  1994     Novembro
11       11  1994     Dezembro
12       12  1994  Inexistente

In [56]:
#tive que colocar manualmente o nome das colunas
np.savetxt('tenta/desmatamento.csv', [p for p in zip(df1['Ano'], df1['Bioma'], df1['Estado'], df1['Area_desmatada_hec'])], delimiter=';', fmt='%s')

In [5]:
df1 = pd.read_csv('tenta/desmatamento.csv', sep = ';')

In [6]:
df1.head(3)

    Ano           Bioma    Estado Area_desmatada_hec
0  2012  Amazônia Legal      Acre         2074194,28
1  2012  Amazônia Legal     Amapá          300224,71
2  2012  Amazônia Legal  Amazonas         3509103,62

In [32]:
ID_data_arr = []
data_inex = data.where(data['Mês'] == 'Inexistente').dropna(how = 'all')
#data_inex
for i in range(len(df1)):
    ano = df1['Ano'].iloc[i]
    id_data = int(data_inex['ID_data'].where(data_inex['Ano'] == ano).dropna(how = 'all'))
    ID_data_arr.append(id_data)

In [36]:
df1['ID_data'] = ID_data_arr

In [42]:
df1 = df1.drop('Ano', axis = 1)
df1 = df1[['ID_data', 'Bioma', 'Estado', 'Area_desmatada_hec']]

In [43]:
df1.head(3)

   ID_data           Bioma    Estado Area_desmatada_hec
0      246  Amazônia Legal      Acre         2074194,28
1      246  Amazônia Legal     Amapá          300224,71
2      246  Amazônia Legal  Amazonas         3509103,62

In [51]:
f_d = open('tenta/desmatamento.csv', 'w')

In [52]:
f_d.write('ID_data;Bioma;Estado;Area_desmatada_hec\n')
for row in zip(df1['ID_data'], df1['Bioma'], df1['Estado'], df1['Area_desmatada_hec']):
    linha = ''
    for item in row:
        linha += str(item) +';'
    linha+='\n'
    f_d.write(linha)

In [53]:
f_d.close()