In [14]:
import io
import pandas as pd
import sqlite3

In [20]:
certificacao = pd.read_csv('tenta/certificacao.csv', index_col=0, sep = ';')
certificacao.head(3)

     Area_certificada_hec
Ano
2005              882.049
2006              762.657
2007              973.830

In [24]:
desmatamento1 = pd.read_csv('tenta/desmatamento.csv', index_col = 0, sep = ';')
desmatamento2 = pd.read_csv('tenta/desmatamento_bioma.csv', index_col = 0, sep = ';')

In [25]:
desmatamento1.head(3)

,Bioma,Categoria,Estado,Numero_de_registros,Periodo,Area_desmatada_hec
Ano,,,,,,
2012,Amazônia Legal,Desflorestamento,Acre,1,2012,"2074194,28"
2012,Amazônia Legal,Desflorestamento,Amapá,1,2012,"300224,71"
2012,Amazônia Legal,Desflorestamento,Amazonas,1,2012,"3509103,62"

In [14]:
desmatamento2.head(3)

           Estado  Numero_de_registros  Periodo  Area_desmatada_hec
Bioma
Caatinga  Alagoas                    1     2009         2877.130951
Caatinga    Bahia                    1     2009        61872.169510
Caatinga    Ceará                    1     2009        59130.915610

In [17]:
#florestas_plantadas deu erro
#plantadas = pd.read_csv('tenta/florestas_plantadas.csv', index_col = 0, sep = ';')
#plantadas.head(3)

In [23]:
#deu errado tmb mas acho que é pq eu abri essa merda no libreoffice, que nem a de cima, ai rola isso, baixar de novo dsp
#producao = pd.read_csv('tenta/pf_producaoflorestal_pfnm_1994-2016.csv', index_col = 0, sep = ';')

In [8]:
f_e = open('tenta/estados.csv', 'w')

In [4]:
estados = ['Acre','Alagoas','Amapá','Amazonas', 'Bahia', 'Ceará', 'Distrito Federal', 'Espírito Santo', 'Goiás', 'Maranhão',\
           'Mato Grosso', 'Mato Grosso do Sul', 'Minas Gerais', 'Pará', 'Paraíba', 'Paraná', 'Pernambuco', 'Piauí', 'Rio de Janeiro',\
          'Rio Grande do Norte', 'Rio Grande do Sul', 'Rondônia', 'Roraima', 'Santa Catarina', 'São Paulo', 'Sergipe','Tocantins']
indices = [i for i in range(len(estados))]

In [9]:
f_e.write('ID_Estado;Estado\n')
for i in indices:
    f_e.write(str(i)+';'+ estados[i] +'\n')

In [10]:
f_e.close()

In [43]:
f_d = open('tenta/data.csv', 'w')

In [44]:
ano = []
for i in range(1994,2019,1):
    ano.append(i)
    
mes = ['Janeiro', 'Fevereiro', 'Março', 'Abril', 'Maio', 'Junho', 'Julho', 'Agosto',\
       'Setembro', 'Outubro', 'Novembro', 'Dezembro', 'Inexistente']
id_ = 0

In [45]:
f_d.write('ID_data;Ano;Mês\n')
for i in ano:
    for j in mes:
        f_d.write(str(id_)+ ';' + str(i) + ';' + j + '\n')
        id_ += 1

In [46]:
f_d.close()

In [53]:
#deu errado tmb, n sei qual e, tem que fazer csv de entidade desse aqui tmb
#teste = pd.read_csv('tenta/extracao_pfm_1994-2016.csv', sep = ';')

UnicodeDecodeError: 'utf-8' codec can't decode byte 0xf3 in position 32: invalid continuation byte